
.socialpost-wrapper {
    overflow: hidden;
    width: 1024px;
    height: 1024px;
    position: relative;
    background: white;
	border: 2px solid black;
}
.socialpost-background {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background: #0b1f23;

}
.socialpost-background .rect1{
	border-radius: 57pt;
    left: -207pt;
    margin-top: 316.31pt;
    width: 479.775pt;
    height: 198.5pt;
    background-color: orange;
    transform: rotate(66deg);
    position: absolute;
    top: 209pt;
    /* z-index: 1; */
}
.socialpost-background .rect2{
	border-radius: 73pt;
    border-top: none;
    left: 510pt;
    margin-top: 316.31pt;
    width: 614.5pt;
    height: 93.77pt;
    background-color: orange;
    transform: skewX(-27deg);
    position: absolute;
    top: -84pt;
    /* z-index: 1; */
}
.socialpost-background .rect3{
	
	border-top-left-radius: 48px;
    left: 583pt;
    margin-top: 316.31pt;
    width: 479.775pt;
    height: 129.5pt;
    background-color: orange;
    transform: rotate(-13deg);
    position: absolute;
    top: -374pt;
    /* z-index: 1; */
}
.socialpost-background .line1{
	
	border-top-left-radius: 48px;
    left: 507pt;
    margin-top: 316.31pt;
    width: 270.775pt;
    height: 0.5pt;
    background-color: orange;
    transform: rotate(0deg);
    position: absolute;
    top: -225pt;
    z-index: 10;
}
.socialpost-background .line2{

	border-top-left-radius: 48px;
    left: 413pt;
    margin-top: 316.31pt;
    width: 191.775pt;
    height: 0.5pt;
    background-color: orange;
    transform: rotate(89deg);
    position: absolute;
    top: -129pt;
    z-index: 10;
}
	

/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Container */
.content {
    max-width: 297mm; /* A4 paper width */
    margin: 0 auto;
    padding: 10mm;
}
/* Organization logo */
.org-logo {
   position: absolute;
    left: 676.46px;
    width: 214.77px;
    height: 93.39px;
    bottom: 557.76px;
	z-index:1;
}
.org-logo img {
   top: -347.1px;
    left: 108.56px;
    height: 73%;
    width: 109%;
    position: absolute;
}
/* Organization name */
.org-name h2 {
    color: #fff;
    position: absolute;
    right: 458.98px;
    top: 325.04px;
    height: 75.59px;
    width: 529.13px;
    font-size: 20px;
    font-weight: bold;
	z-index:1;
}
.org-address {
    position: absolute;
    right: 650px;
    top: 367.72px;
    width: 415.75px;
    height: 98.27px;
   

}
.org-address p {
    top: -0.2px;
    margin-left: 75.59px;
    position: absolute;
    text-align: left;
    font-size: 17px;
    color: white;
    font-weight: bolder;
}
/* Organization email, phone, fax, and website */
.org-email{
	
}
.org-alternate-email{
	margin: 18.9px 0;
	margin-top:10mm;
	margin-left:10mm;
}	
.org-phone{
	margin: 18.9px 0;
	margin: 18.9px 0;
	margin-top:10mm;
	margin-left:10mm;
}
.org-alternate-phone{
	margin: 18.9px 0;
	margin: 18.9px 0;
	margin-top:10mm;
	margin-left:10mm;
}	
.org-fax{
	margin: 18.9px 0;
	margin: 18.9px 0;
	margin-top:10mm;
	margin-left:10mm;
}
.org-website {
    margin: 18.9px 0;
	margin: 18.9px 0;
	margin-top:10mm;
	margin-left:10mm;
}
.org-email {
   font-size: 20px;
    color: #fff;
    position: absolute;
    right: 68.03px;
    bottom: -194.65px;
    height: 18.9px;
    width: 188.98px;
	z-index:1;
}
.org-email i {
    font-size: 1.5em;
}
.org-website {
    font-size: 20px;
    color: #fff;
    position: absolute;
    right: 284.13px;
    bottom: -207.87px;
    height: 18.9px;
    width: 188.98px;
	z-index:1;
}
.org-website i {
    font-size: 1.5em;
}
.org-phone {
   position: absolute;
    right: 530.56px;
    top: 854.53px;
    width: 415.75px;
    height: 75.59px;
    font-size: 42px;
    color: red;
    text-align: justify;
    font-weight: bolder;
    z-index: 1;
}
.org-phone1 {
    height: 39px;
    position: absolute;
    right: 178.77px;
    top: 9.22px;
}
.org-phone i {
    font-size: 1.5em;
}
/* Header background image */
.header-background-image img {
    width: 100%;
}
/* Background image, image, alternate image */
.background-image img,
.image img,
.alternate-image img {
    width: 100%;
}
.background-image img {
   border: red;
    background-color: #FFFFFF;
    height: 302px;
    -moz-border-radius: 75px;
    border-bottom-left-radius: 78px;
    width: 317px;
    margin-left: 186mm;
    margin-top: 27mm;
    position: absolute;
    z-index: 1;
}
.image img{
   position: absolute;
    left: -4px;
    top: 0px;
    width: 717.54px;
    height: 113.39px;
}
.background-image1 img {
    border: red;
    background-color: #FFFFFF;
    height: 971px;
    width: 1052px;
    margin-left: -8mm;
    margin-top: -1mm;
    position: absolute;
    z-index: 0;
}
/* Heading, sub-heading, description, punchlines, offerlines */
.heading{
}
.sub-heading,
.description,
.punchline1,
.punchline2,
.offerline1,
.offerline2 {
    margin: 5mm 0;
}
.punchline1{
    position:absolute;
    left:0px;
    top:113.39px;
    width:453.54px;
    height:37.8px;
    font-weight: bold;
    text-align: center;
    font-size: 36px;
   color:#ffffff;
}
.heading-first {
    position: absolute;
    left: 26.13px;
    top: 139.72px;
    width: 453.54px;
    height: 113.39px;
    text-align: left;
    font-size: 62px;
    font-weight: bolder;
    color: white;
}
.heading {
  position: absolute;
    left: 183.91px;
    top: 228.42px;
    width: 453.54px;
    height: 113.39px;
    text-align: left;
    font-size: 39px;
    font-weight: bolder;
    line-height: 1;
    color: #800080;

}
.sub-heading {
   position: absolute;
    left: 507.59px;
    top: 437.95px;
    width: 349.16px;
    height: 37.8px;
    font-weight: bold;
    text-align: left;
    font-size: 24px;
    color: white;
	z-index:1;
}

.description {
   color: white;
    position: absolute;
    left: 512.9px;
    top: 482.31px;
    width: 517.8px;
    height: 188.98px;
    text-align: justify;
    font-size: 14px;
    z-index: 1;
}
/* Services heading */
.services-heading {
    margin-top: 0%;
}

/* Services */
.services {
   position: absolute;
    background-color: black;
    right: 603px;
    top: 466.63px;
    width: 415.75px;
    height: 38.99px;
    color: #ffffff;
}

/* Service */
.service {
    width:340.16px;
    height:37.8px;
	
}

/* Service name */
.service-name {
   margin-top: 10.78px;
    position: absolute;
    margin-left: 56.81px;
    font-weight: bold;
    text-align: left;
    font-size: 16px;
    color: #FFDC5B;
}
.service-image {
   height: 36.83px;
    position: absolute;
    left: -0.12px;
    top: 0.8px;
}
/* Service image */
.service-image i {
    font-size: 2em;
}

/* Service description */
.service-description {
    margin-top: 38.81px;
    position: absolute;
    text-align: left;
    font-size: 16px;
    color: white;
    margin-left: 54.81px;
    text-wrap: balance;
    font-weight: bold;
}
.contact-us {
    color: white;
    left: -183.87px;
    /* right: 4mm; */
    text-align: center;
    top: 847.76px;
    position: absolute;
    /* background-color: black; */
    size: 67px;
    border-right: 88pt solid transparent;
    border-top: 35.75pt solid #FFDC5B;
    border-left: 379pt solid #FFDC5B;
}
.contact-us .p {
    text-emphasis-color: black;
}

.contact {
    font-size: 30px;
    color: black;
    position: absolute;
    bottom: 123px;
    left: 47px;
}

/* Features heading */
.features-heading {
    position: absolute;
    left: 675.59px;
    top: 595.84px;
    width: 340.16px;
    height: 37.8px;
    font-weight: bold;
    text-align: left;
    font-size: 35px;
    color: #e8023b;
	z-index:1;
}




/* Features */
.features {
	font-weight: bold;
    position: absolute;
    left: 599px;
    top: 740.11px;
    width: 340.16px;
    height: 264.57px;
	z-index:1;
}
/* Feature */
.feature {
    width:340.16px;
    height:37.8px;
	font-weight: 200;
    text-align: left;
    font-size: 18px;
}
.feature-name {
    position: relative;
    font-weight: 100;
    margin-left: 49.13px;
    top: -68.03px;
}
.feature-name1 {
     font-size: 25px;
    position: absolute;
    top: -89.25px;
    left: 20mm;
	color:white;
}
.feature-name2 {
    font-size: 25px;
    position: absolute;
    top: -53.46px;
    left: 20mm;
	color:white;
}
.feature-name3 {
    font-size: 25px;
    position: absolute;
    top: -13.66px;
    left: 20mm;
	color:white;
}
.feature-name4 {
    font-size: 25px;
    position: absolute;
    top: 24.13px;
    left: 20mm;
	color:white;
}
.feature-name5 {
	font-size: 20px;
    position: absolute;
    top: 71.93px;
    left: 20mm;
    color: white;
}
.feature-name6 {
    font-size: 25px;
    position: absolute;
    top: 104.72px;
    left: 20mm;
	color:white;
}
.feature-name7 {
    font-size: 25px;
    position: absolute;
    top: 144.52px;
    left: 20mm;
	color:white;
}
.feature-imagee {
    font-size: 15px;
    position: absolute;
    top: 602.5px;
    left: 633.24px;
}
.feature-image1 {
    font-size: 31px;
    position: absolute;
    top: -99.25px;
    left: 26.46px;
	
}
.feature-image2 {
    font-size: 31px;
    position: absolute;
    top: -52.24px;
    left: 26.46px;
}
.feature-image3 {
    font-size: 31px;
    position: absolute;
    top: -10.44px;
    left: 26.46px;
}
.feature-image4 {
    font-size: 31px;
    position: absolute;
    top: 29.35px;
    left: 26.46px;
}
.feature-image5 {
    font-size: 31px;
    position: absolute;
    top: 66.93px;
    right: 277.91px;
}
.feature-image6 {
    font-size: 31px;
    position: absolute;
    top: 105.72px;
    left: 22.68px;
}
.feature-image7 {
    font-size: 31px;
    position: absolute;
    top: 144.3px;
    left: 24.46px;
}
.feature {
    width: 340.16px;
    height: 30.24px;
    font-weight: 200;
    text-align: left;
    font-size: 25px;
}



/* Feature name */
.feature-name {
    font-weight: 100;
    margin-left: 13mm;
}
/* Feature image */
.feature-image i {
    font-size: 2em;
}

/* Feature description */
.feature-description {
    margin-top: 49.13px;
}

/* Terms heading */
.terms-heading {
    position: absolute;
    top: 645.18px;
    height: 37.8px;
    right: 599px;
    width: 415.75px;
    font-weight: bold;
    margin-left: 75.59px;
    text-align: center;
    font-size: 28px;
    background-color: black;
    color: #FFDC5B;
}

/* Terms */
.terms {
    position: absolute;
    /* background-color: black; */
    right: 0px;
    top: 646.98px;
    width: 415.75px;
    height: 151.18px;
}
.term-image1 {
    position: absolute;
    top: 19.56px;
    left: -278.43px;
    height: 21px;
}
.term-image2 {
   height: 22.68px;
    position: absolute;
    top: 49.46px;
    left: -279.43px;
}
.term-image3 {
    position: absolute;
    top: 81.35px;
    left: -281.43px;
    height: 25px;
}
    

/* Term */
.term {
    font-weight:100;
    margin-top:18.9px;
   
}
.icon {
    font-size: 24px;
    margin-right: 10px;
  }
.icon-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.term-name {
    text-align: left;
    font-size: 18px;
    color: white;
    margin-left: -528.17px;
    text-wrap: balance;
    /* position: absolute; */
    margin-top: 36.44px;
    font-weight: bold;
}
.bi-wifi::before {
    content: "\f61c";
    position: absolute;
    left: 3.78px;
    top: -7.56px;
}
.fa-list:before {
    color: black;
    content: "\f03a";
    position: absolute;
    left: -600.94px;
    top: 283.46px;
}
.term-image-MEMBERSHIP {
  height: 35.83px;
    position: absolute;
    top: -3px;
    left: -598px;
}


.bi-star:before {
    content: "\f005";
    position: absolute;
    top: -52.91px;
    left: -366.61px;
}
.fa-star:before {
    top: -41.57px;
    left: -597.17px;
    content: "\f005";
    position: absolute;
    color: #FFDC5B;
}
.location-icon {
    color: #007bff; /* Change color */
    font-size: 24px; /* Adjust size */
    margin-right: 8px; /* Space between icon and text */
}


        /* Base class for all icons */
        .icon {
            width: 24px; /* Width of the icon */
            height: 24px; /* Height of the icon */
            display: inline-block; /* Ensure it behaves like an inline element but allows setting width/height */
            background-image: url('icons.png'); /* Path to your sprite image */
            background-size: cover; /* Ensure the entire image is used */
            margin-right: 10px; /* Add space between the icon and the text */
        }

        /* Specific class for the "Free MCQ Bank (AI Based)" icon */
        .icon-mcq-bank {
            background-position: -48px -24px; /* Adjust according to the position of your icon in the sprite */
        }

        /* Class for aligning icons and text */
        .icon-container {
            display: flex; /* Use flexbox to align items */
            align-items: center; /* Center items vertically */
            margin-bottom: 10px; /* Add space between each row */
        }

/* Term image */
.term-image i {
    font-size: 2em;
}
.fa-map-marker-alt:before {
    font-size: 64.25px;
    top: 188.98px;
    left: 7.56px;
    content: "\f3c5";
    position: absolute;
}
.fa-dollar-sign:before {
    color: #FFDC5B;
    left: 11.34px;
    top: 26.46px;
    content: "\f155";
    position: absolute;
    font-size: 68.03px;
}.fa-telegram:before {
    color: #FFDC5B;
    left: 3.78px;
    top: -200.31px;
    content: "\f155";
    position: absolute;
    font-size: 68.03px;
}
.Location {
    position: absolute;
    top: 309.72px;
    left: 38.87px;
    color: #FFDC5B;
    font-size: 24px;
    background: black;
    width: 94mm;
}
.Location-imagee {
   width: 28.59px;
    position: absolute;
    top: 310.28px;
    right: 982.83px;
}
.fa-map-marker-alt:before {
    font-size: 64.25px;
    top: 188.98px;
    left: 7.56px;
    content: "\f3c5";
    position: absolute;
    color: #FFDC5B;
}
.footer {
   position: absolute;
    background-color: #2949c9;
    height: 37.8px;
    left: -604.72px;
    top: 309.48px;
    width: 1064.61px;
    height: 78.13px;
	z-index:1;
}



/* Term description */
.term-description {
    margin-top: 18.9px;
}
